@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl font-bold text-white;
  }
}

:root {
  margin: 0;
  padding: 0;
}

.item {
  transition: transform 0.2s;
}

.item:hover {
  transform: scale(1.1);
}

.main {
  width: 100%;
  min-height: 100vh;
 
}

.home-bg {
  background-image: url(./assets/background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.default-bg {
  background-color: #0f1011;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}
